<mm-app-navbar [color]="currentColor"></mm-app-navbar>
<mm-app-header [id]="currentID" [color]="currentColor" [title]="currentTitle" [bodyText]="currentBodyText" [subText]="currentSubText" [textArray]="currentArrayText" [buttonText]="currentButtonText"></mm-app-header>
<div id="appHeaderScrollTarget"></div>
<div class="container">
    <h1 class="display-4 section-title">What I do</h1>
</div>
<ux-summary-panel [id]="designID" [color]="designColor" [css]="designCss" [title]="designTitle" [sideText]="designSideText" [bodyText]="designBodyText" [subText]="designSubText" [buttons]="designButtons"></ux-summary-panel>
<!-- <ux-summary-panel [id]="devID" [color]="devColor" [css]="devCss" [title]="devTitle" [sideText]="devSideText" [bodyText]="devBodyText" [subText]="devSubText" [buttons]="devButtons"></ux-summary-panel> -->

<mm-footer [color]="currentColor"></mm-footer>