@use 'custom' as *;
.indicator {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
  line-height: 1;
  .dot {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 50%;
      background-color: red;
      opacity: 0.6;
      animation: pulse 1.5s infinite;
    }
  }
  .duration {
    transition: 0.2s ease;
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}