@use 'styles' as *;

.container {
    transform: skewY(0deg);
    margin-top: 0;
    padding-top: $spacer-size;
    &.first {
        transform: skewY($section-angle * 3);
    }
    &.second {
        transform: skewY($section-angle * 3);
        > :first-of-type.row {
            margin-top: -($spacer-size * 2);
            // transform: skewY(-5deg);
        }
    }
    &.third {
        margin-top: -560px;
        // padding-top: 300px;
        // padding-bottom: 550px;
        > .row > .col {
            transform: skewY(-5deg);
        }
    }
    &.fourth {
        margin-top: -300px;
    }

    .teammate.col {
        margin-bottom: $spacer-size;
    }
    img {
        max-height: 400px;
        max-width: 400px;
    }
    p.about {
        max-width: 500px;
    }
    .offset img {
        margin-bottom: -($spacer-size *1.5);
        margin-left: $spacer-size * 2.5;
    }
    .backset img {
        margin-right: ($spacer-size * 2.5);
    }
    .inset img {
        margin-right: -$spacer-size;
        margin-left: -$spacer-size;
    }
    .col.negative-margin {
        margin-bottom: -200px;
    }
    // a.btn {
    //     padding: 0.5rem 0.5rem;
    // }
}
@include media-breakpoint-up(xl) {
    .container {
        .teammate.col {
            min-width: 50%;
        }
    }
}
@include media-breakpoint-down(md) {
    .container {
        .offset img {
            margin-bottom: -($spacer-size *1.5);
            margin-left: 0;
        }
        .backset img {
            margin-right: 0;
        }
    }
    
}