<div class="container">
    <h1 class="display-4 section-title">Get to know me</h1>
</div>
<section class="container-fluid section-skew section-shadow-none">
    <mm-about-item [start]='0' [end]='1' containerCss="first"></mm-about-item>
</section>
<section class="container-fluid section-skew section-shadow-3 bg-dark-subtle">
    <mm-about-item [start]='1' [end]='3' containerCss="second"></mm-about-item>
</section>
<section class="container-fluid section-skew section-shadow-top">
    <mm-about-item [start]='3' [end]='10' containerCss="third"></mm-about-item>
</section>
<!-- <section class="container-fluid section-skew section-shadow-top">
    <mm-about-item [start]='0' [end]='0'containerCss="fourth"></mm-about-item>
</section> -->