@use 'custom' as *;

$last-stream-bg: darken($twitch, 20%);
.bg-twitch {
    background-color: $twitch !important;
    &.last-stream {
        background-color: $last-stream-bg !important;
    }
}
#liveCard {
  outline: 12px solid rgba($twitch, .15);
}
.border-twitch {
    border-color: $twitch !important;
}
.text-bg-purple {
    background-color: #5e1fe4 !important;
}
.card-img-wrapper {
  img {
    aspect-ratio: 16 / 9;
  }
}
.card.btn {
  font-size: 1rem !important;
}