<!-- LIVE STREAM -->
<div *ngIf="isLive; else offline">
  <h1 class="twitch display-0 "><fa-icon class="twitch" [icon]="faTwitch"></fa-icon>{{ stream.title }}</h1>
  <span class="badge text-bg-warning rounded-pill">🔴 Live Now</span>
  <div class="row mt-4">
    <div class="col-md-4 mb-3">
      <a [href]="'https://twitch.tv/' + stream.user_login" target="_twitch" class="card text-decoration-none bg-twitch text-white position-relative">
        <div class="card-img-wrapper rounded-4">
          <img
          class="card-img-top"
          [src]="stream.thumbnail_url || '/assets/placeholder/twitch.jpg'"
          alt="{{ stream.title }}"
        />
        </div>
        <div class="card-body d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-center">
              <div class="col-auto me-1">
                <fa-layers [fixedWidth]="true" size="3x">
                  <mm-pulse-indicator class="position-absolute top-0 end-0"></mm-pulse-indicator>
                  <fa-icon class="icon-gray" [icon]="faCircle"></fa-icon>
                  <fa-icon class="" [icon]="faTwitch" transform="shrink-8"></fa-icon>
                </fa-layers>
              </div>
              <div class="col-auto text-start me-2">
                <span class="fw-bold">Watch Live</span>
              </div>
            </div>
            <small><span class="badge text-bg-purple rounded-pill">{{ stream.viewer_count }} viewers</span></small>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- OFFLINE / PAST STREAMS -->
<ng-template #offline>
    <p class="badge text-bg-dark">⚫ OFFLINE</p>
    <p class="small text-muted space-mono-regular">Check back later, view past broadcasts and follow me on Twitch to get notifications when I go live!</p>

    <h1 *ngIf="pastStreams?.length > 0" class="twitch display-0"><fa-icon class="twitch" [icon]="faTwitch"></fa-icon>PAST BROADCASTS</h1>
    <div class="row mt-4">
      <div class="col-md-4 mb-3" *ngFor="let vod of pastStreams">
        <a [href]="vod.url" target="_blank" class="card text-decoration-none bg-twitch text-white">
          <div class="card-img-wrapper rounded-4">
            <img class="card-img-top" [src]="vod.thumbnail_url || '/assets/placeholder/twitch.jpg'"/>
          </div>
          <div class="card-body">
            <h6 class="card-title mb-1">{{ vod.title }}</h6>
            <small><span class="badge text-bg-purple rounded-pill">{{ vod.view_count }} views</span></small>
          </div>
        </a>
      </div>
    </div>
</ng-template>