<section class="container-fluid">
    <div class="container py-5">
        <div class="row">
            <h1 class="display-4 section-title">Our services</h1>
            <p class="fs-4 fw-light">We assist development teams across the Berkley enterprise in order to improve the overall experience for users of our enterprise applications through both UX and development practices utilizing the following capabilities:</p>
        </div>
        <div *ngFor="let skill of skills" class="row pt-5">
           <div class="col-12">
            <fa-layers [fixedWidth]="true" size="6x" class="mb-3">
                <fa-icon class="text-info opacity-10" [icon]="faCircle"></fa-icon>
                <fa-icon class="text-info" [icon]="skill.icon" transform="shrink-10"></fa-icon>
            </fa-layers>
            <h2 class="fw-bolder">{{skill.type}}</h2>
            <p class="fs-5">{{skill.bodyCopy}}</p>
            <div class="px-5 pt-3">
                <div class="row">
                    <div *ngFor="let capability of skill.capabilities" class="col-12 col-sm">
                        <p class="fs-5 fw-bold">{{capability.groupTitle}}</p>
                        <ul>
                            <li *ngFor="let service of capability.groupServices" class="py-2">
                                <span *ngIf="!service.link">{{service.item}}</span>
                                <a *ngIf="service.link" routerLink="{{service.link}}" class="btn btn-link text-start">{{service.item}} <fa-icon [icon]="faArrowRight"></fa-icon></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <a href="mailto:{{emailAddress}}" title="Interested in our services?" class="btn btn-link fw-bold">request ux team services <fa-icon [icon]="faPaperPlane" [fixedWidth]="true"></fa-icon></a>
            </div>
           </div>
        </div>
    </div>
</section>