<section class="container-fluid">
    <div class="container">
        <h1 class="display-4 section-title">What I do</h1>
        <div class="row py-5">
            <div class="col-12 col-lg-7 my-auto">
                <h1 class="display-0 fs-6 text-dark text-uppercase">User Experience Design</h1>
                <p>My focus is for the user and their experience throughout their journey through a companies systems, services, and products.
                    I strive to design solutions that focuses to solve business goals that help solve the user's goal.
                    My process strives to blend these goals and technology limitations to ensure the designs are desirable, viable,
                    feasible, and ensure future scalability.
                </p>
            </div>
            <div class="col-12 col-lg-5 text-center">
                <img src="./assets/ux-design.svg" class="img-fluid">
            </div>
        </div>

        <div class="row py-5">
            <div class="col-12 col-lg-7 my-auto order-lg-2">
                <h1 class="display-0 fs-6 text-dark text-uppercase">Web Services, Hosting, Networking</h1>
                <p>I approach every problem with UX research. This is the systematic investigation of users and
                    their requirements in order to add context and insight into the process of designing the user experience.
                    Simply, UX research uncovers human needs in order to build better product experiences. The process in which
                    I gather this research can vary depending on the engagement and insights required.
                </p>
            </div>
            <div class="col-12 col-lg-5 text-center order-lg-1">
                <img src="./assets/ux-research.svg" class="img-fluid">
            </div>
        </div>

        <div class="row py-5">
            <div class="col-12 col-lg-7 my-auto">
                <h1 class="display-0 fs-6 text-dark text-uppercase">Streaming</h1>
                <p>I offer a wide array of development services through our team of highly skilled developers that have a wide range of
                    skills. Our teams primary focus targets front-end technologies to help product teams develop highly organized and
                    maintanable code to bring our design solutions to life. Check out the services we offer to help your team and project
                    succeed!
                </p>
            </div>
            <div class="col-12 col-lg-5 text-center">
                <img src="./assets/ux-dev.svg" class="img-fluid">
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12 col-lg-7 my-auto order-lg-2">
                <h1 class="display-0 fs-6 text-dark text-uppercase">Handyman & Woodworking</h1>
                <p>I take all the guesswork out of deciding on a solution, implementing a solution, and analyzing the data. I
                    utilize Google Marketing Platforms set of analytics tools to get the job done and I have years of experience working with
                    analytics data to get the most out of your users activity. Let me take care of implementing and managing
                    Google Marketing for you!
                </p>
            </div>
            <div class="col-12 col-lg-5 text-center order-lg-1">
                <img src="./assets/ux-analytics.svg" class="img-fluid">
            </div>
        </div>
        <!-- <div class="row py-5">
            <div class="col-auto">
                <a routerLink="/services" class="btn btn-link fw-bold">learn more about what I do and the services I offer <fa-icon [icon]="faArrowRight" [fixedWidth]="true"></fa-icon></a>
            </div>
        </div> -->

    </div>
</section>