@use 'sass:color';
@use 'styles' as *;

section#social-links {
    margin-bottom: -280px;
    padding-bottom: 200px;
}
.bg-gradient-primary {
    background: linear-gradient(#f8f9fa, $primary);
}