<mm-app-navbar [color]="currentColor"></mm-app-navbar>
<mm-app-header [id]="currentID" [color]="currentColor" [title]="currentTitle" [bodyText]="currentBodyText" [textArray]="currentArrayText" [subText]="currentSubText" [buttonText]="currentButtonText" [img] ="currentImg"></mm-app-header>
<div id="appHeaderScrollTarget"></div>
<mm-about-me></mm-about-me>

<div class="container">
    <h1 class="display-4 section-title">What I do</h1>
</div>
<ux-summary-panel [id]="designID" [color]="designColor" [css]="designCss" [title]="designTitle" [sideText]="designSideText" [bodyText]="designBodyText" [subText]="designSubText" [buttons]="designButtons"></ux-summary-panel>
<ux-summary-panel [id]="devID" [color]="devColor" [css]="devCss" [title]="devTitle" [sideText]="devSideText" [bodyText]="devBodyText" [subText]="devSubText" [buttons]="devButtons"></ux-summary-panel>
<ux-summary-panel [id]="gamerID" [color]="gamerColor" [css]="gamerCss" [title]="gamerTitle" [sideText]="gamerSideText" [bodyText]="gamerBodyText" [subText]="gamerSubText" [buttons]="gamerButtons"></ux-summary-panel>

<section id="social-links" class="container-fluid section-skew section-shadow-top bg-100">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12">
                <h1 class="display-0 text-dark text-uppercase">Find me online</h1>
                <p class="mb-4">See what I am up to on social media</p>
                <mm-social-links></mm-social-links>
                <span class="badge text-bg-warning mt-4">spoiler: its probably not much!</span>
            </div>
        </div>
    </div>
</section>
<mm-tools-platforms-languages></mm-tools-platforms-languages>
<mm-footer [color]="currentColor"></mm-footer>