<section class="container-fluid section-skew section-shadow-bottom mb-5">
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-end">
                <div class="col-auto inset mirror">
                    <img src="./assets/me/mm-heart-sticker.png" alt="Midwest Mackey Avatar"/>
                </div>
                <div class="col">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-0 fs-2 mt-2 mb-1">Show me some love</h2>
                    </div>
                    <div class="flex-wrap gap-2 d-flex">
                        <a  href="{{twitchURL}}" target="_twitch" class="btn btn-purple btn-card shadow rounded-pill" title="Support me on twitch"><fa-icon class="text-center fa-lg" [fixedWidth]="true" [icon]="faTwitch"></fa-icon> Follow on Twitch</a>
                        <a  href="{{bmcURL}}" target="_bmc" class="btn btn-warning btn-card shadow rounded-pill"  title="Support me with a coffee"><fa-icon class="text-center fa-lg" [fixedWidth]="true" [icon]="faBMC"> </fa-icon>Buy me a coffee
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>