@use 'custom' as *;

.section-skew {
    margin-top: 0;
    &:first-of-type {
        transform: skewY(-($section-angle * 3));
        padding-bottom: 550px;
        margin-bottom: -250px;
        
    }
    &:nth-of-type(2) {
        transform: skewY((-$section-angle * 3));
        padding-bottom: 750px;
        margin-bottom: -200px;
    }
    &:nth-of-type(4) {
        transform: skewY((-$section-angle * 3));
        margin-bottom: 250px;

    }
}