<div class="container-fluid bg-curve bg-{{color}} text-white">
    <div class="container mt-5">
        <div class="row">
            <h1 class="display-4 mb-3 mt-5">A few of the platforms, languages, and tools I have worked with</h1>
        </div>
        <div class="row">
            <div class="col-auto">
                <a routerLink="/skills" class="btn btn-link fw-bold text-white mb-5">see my skills & services <fa-icon [icon]="faArrowRight" [fixedWidth]="true"></fa-icon></a>
                <a href="{{githubBaseURL}}" class="btn btn-link fw-bold text-white mb-5">checkout my github <fa-icon [icon]="faArrowRight" [fixedWidth]="true"></fa-icon></a>
            </div>
        </div>
    </div>
    <div class="text-nowrap overflow-hidden text-center">
        <div class="ticker width-100">
            <div class="ticker-track d-flex gap-0">
                @for (icon of icons; track icon) {
                    <a href="{{icon.link}}" target="_blank" id="to-hover" class="btn btn-link text-white d-flex align-items-center rounded-pill p-3">
                        <fa-icon class="display-4" [icon]="icon.icon"></fa-icon>
                    <fa-icon [icon]="faArrowRight" id="to-show"></fa-icon>
                    </a>
                }
                <!-- duplicate -->
                @for (icon of icons; track icon) {
                    <a href="{{icon.link}}" target="_blank" id="to-hover" class="btn btn-link text-white d-flex align-items-center rounded-pill p-3">
                        <fa-icon class="display-4" [icon]="icon.icon"></fa-icon>
                    <fa-icon [icon]="faArrowRight" id="to-show"></fa-icon>
                    </a>
                }
            </div>
        </div>
    </div>
</div>