<ng-container *ngIf="nowPlaying as data">
<h1 class="spotify display-0 mb-4 d-flex align-items-center">
  <fa-icon class="spotify me-2" [icon]="faSpotify"></fa-icon>
  Now playing
  <div class="sound-visualizer ms-3" *ngIf="data?.isPlaying">
    <span *ngFor="let bar of bars" [style.height.px]="bar"></span>
  </div>
</h1>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4" *ngIf="currentTrack">
    <a class="spotify-listening card d-flex rounded-4 align-items-start" appTouchHover
       [href]="currentTrack.url"
       target="_spotify"
       [style.background-image]="currentGradient">
      <div class="album-art align-self-center">
        <img [src]="currentTrack.albumArtUrl" alt="Album Art" class="rounded" />
      </div>
      <div class="card-body text-start">
        <div class="song-info">
          <small class="text-white-50 space-mono-regular">{{ currentTrack.albumName }}</small>
          <h2 class="mb-1 text-white sigmar-regular">{{ currentTrack.songName }}</h2>
          <h5 class="mb-3 text-white space-mono-bold fst-italic">{{ currentTrack.artistName }}</h5>
        </div>

        <!-- Status badge -->
        <div class="status">
          <span class="badge"
                [ngClass]="isPlaying ? 'bg-success' : 'bg-secondary'">
            {{ currentStatus }}
          </span>
        </div>
      </div>
    </a>
  </div>

  <!-- Recent Tracks List -->
  <div class="recent-tracks mt-4 col-12 col-md-6 col-lg-8" *ngIf="recentTracks.length > 0">
    <h5 class="mb-3">Recently Played</h5>
    <a class="recent-track d-flex align-items-center p-2 mb-2 rounded-3" appTouchHover
       *ngFor="let track of recentTracks" [href]="track.url" target="_spotify">
      <img [src]="track.albumArtUrl" alt="album art" class="me-3 rounded" width="50" height="50"/>
      <div>
        <p class="small text-body m-0 space-mono-regular">{{ track.songName }}</p>
        <small class="text-secondary space-mono-regular fst-italic">{{ track.artistName }}</small>
      </div>
    </a>
  </div>
</div>
</ng-container>