@use 'custom' as *;

section {
    &.bg-footer-color {
        // -webkit-clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 100%);
        // clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 100%);
        background: linear-gradient($gray-700 -25%, $black 95%);
        overflow: visible;
        clip-path: shape(from 100% 100%,
            line to 100% 0%,
            smooth to 55% 66% with 75% 5%,
            smooth to 0% 27% with 23% 42%,
            line to 0% 100%);
        animation: morph 120s linear infinite;
    }
    @keyframes morph {
        0%, 100% {
            clip-path: shape(from 100% 100%,
            line to 100% 0%,
            smooth to 55% 66% with 75% 5%,
            smooth to 0% 27% with 23% 42%,
            line to 0% 100%);
        }
        50% {
            clip-path: shape(from 100% 100%,
            line to 100% 0%,
            smooth to 69% 82% with 85% 10%,
            smooth to 0% 80% with 25% -125%,
            line to 0% 100%);
        }
        75% {
            clip-path: shape(from 100% 100%,
            line to 100% 100%,
            smooth to 42% 62% with 120% 0%,
            smooth to 0% 0% with 50% 0%,
            line to 0% 100%);
        }
        // 75% {
        //     clip-path: shape(from 100% 100%,
        //     line to 100% 0%,
        //     smooth to 55% 66% with 75% 5%,
        //     smooth to 0% 27% with 23% 42%,
        //     line to 0% 100%);
        // }
    }
    &.blue {
        #navbar-links, #social-links {
            .nav-link {
                &:hover:not(.active) {
                    background-color: $blue;
                }
                &.active {
                    background-color: $blue;
                }
            }
        }

    }
    &.purple {
        #navbar-links, #social-links {
            .nav-link {
                &:hover:not(.active) {
                    background-color: $purple;
                }
                &.active {
                    background-color: $purple;
                }
            }
        }

    }
    &.orange {
        #navbar-links, #social-links {
            .nav-link {
                &:hover:not(.active) {
                    background-color: $orange;
                }
                &.active {
                    background-color: $orange;
                }
            }
        }
    }
    &.green {
        #navbar-links, #social-links {
            .nav-link {
                &:hover:not(.active) {
                    background-color: $green;
                }
                &.active {
                    background-color: $green;
                }
            }
        }
    }
    &.secondary {
        #navbar-links, #social-links {
            .nav-link {
                &:hover:not(.active) {
                    background-color: $secondary;
                }
                &.active {
                    background-color: $secondary;
                }
            }
        }
    }
    &.cyan {
        #navbar-links, #social-links {
            .nav-link {
                &:hover:not(.active) {
                    background-color: $cyan;
                }
                &.active {
                    background-color: $cyan;
                }
            }
        }
    }
    &.teal {
        #navbar-links, #social-links {
            .nav-link {
                &:hover:not(.active) {
                    background-color: $teal;
                }
                &.active {
                    background-color: $teal;
                }
            }
        }
    }
    &.top-spacing {
        padding-top: $spacer-size * 2;
    }
    .display-0 {
        font-size: 60px;
        }
    .footer-img {
        height: 100px;
        width: 100px;
        .svg-dark {
            fill: #212529;
        }
        .svg-white {
            fill: $white;
        }
    }
    &.sub-footer {
        margin-top: -1px;
    }
    small {
        font-size: .65em;
    }
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.footer-gradient {
    background: $black;
    position: relative;
    margin: 0 auto;
    
    &:after,&:before{
    content: '';
    position: absolute;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: calc(var(--bs-border-radius-xl) + 2px);
    animation: 3s spin linear infinite;
    }
    &:before{
    filter: blur(1.5rem);
    opacity: 0.75;
    }
    @keyframes spin{
        from{
            --angle: 0deg;
        }
        to{
            --angle: 360deg;
        }
    }
}