@use 'custom' as *;

section {
    padding-bottom: $spacer-size * 3;
    #side-text-outer {
        width: 0;

        #side-text {
            font-size: 5rem;
            font-weight: 900;
            top: 100px;
        }
    }
    .start {
        #side-text-outer {
            top: -25px;
            right: 25px;
            #side-text {
                transform: rotate(90deg);
            }
        }
        #summary-panel {
            margin-left: -30vw !important;
            padding-left: 30vw !important;
            margin-right: $spacer-size;
        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     transform: translateX(-100%) !important;
        //     width: calc((100vw - map-get($container-max-widths,sm)) / 2);
        //     height: 100%;
        //     background-color: inherit;
        //     z-index: -1;
        // }
        }
    }
    .end {
        flex-direction: row-reverse!important;
        #side-text-wrapper {
            top: 72%;
        }
        #side-text-outer {
            left: 25px;
            #side-text {
                transform: rotate(-90deg);
            }
        }

        #summary-panel {
            margin-right: -30vw !important;
            padding-right: 30vw !important;
            margin-left: $spacer-size;
        }
        
    }
    .img-container {
        height: 0;
        img {
            height: 400px;
            width: auto;
            // margin-top: -200px;
            // margin-bottom: -200;
        }
    }
    
    #summary-buttons {
        margin-top: -40px;
        &.justify-content-md-end {
            justify-content: flex-start !important;
            margin-left: $spacer-size / 2;
        }
        &.justify-content-md-start {
            justify-content: flex-end !important;
            margin-right: $spacer-size / 2;

        }
    }
}

@include media-breakpoint-down(xl) {
    section {
        .img-container {
        height: 200px;
    }
}
}
@include media-breakpoint-down(sm) {
    section {
        .img-container {
        img {
            transform: scaleX(-1);
        }
    }
}
}