<ng-container>
<div class="spacer-top bg-color bg-{{color}}"></div>
<section id="title" class="container-fluid d-md-flex vh-100 position-relative">
    <div class="container vh-100 position-relative">
        <div class="row">
            <div class="position-absolute top-50 start-0 translate-middle-y col text-start">
                <h1 class="display-0 text-center text-md-start text-{{color}}">{{title | uppercase}}</h1>
            </div>
        </div>
   </div>
</section>
<section id="title" class="container-fluid d-md-flex vh-100 position-absolute bg-color bg-{{color}}">
    <div class="container vh-100 position-relative">
        <div class="row">
            <div class="position-absolute top-50 start-0 translate-middle-y col text-start">
                <h1 class="display-0 text-center text-md-start theme-invert-text">{{title | uppercase}}</h1>
            </div>
        </div>
    </div>
</section>
<section id="panel" class="container-fluid d-md-flex vh-100 position-absolute">
    <div class="container vh-100 position-relative">
        <div class="">
            <div class="col-xl-4 col-md-6 col-10 card shadow-lg position-absolute top-50 end-0 translate-middle-y me-5">
                <div class="card-body px-5 pt-5">
                    <div class="text-center">
                        <ng-container *ngIf="img; then thenBlock else elseBlock"></ng-container>
                        <ng-template #thenBlock>
                            <img src="./{{img}}" class="body-img"> 
                        </ng-template>
                        <ng-template #elseBlock>
                            <svg class="body-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 204" fill="none">
                                <path class="svg-{{color}}" d="M70.7109 12.1318C86.8869 -4.0439 113.113 -4.0439 129.289 12.1318L187.868 70.7109C204.044 86.8869 204.044 113.113 187.868 129.289L129.289 187.868C113.113 204.044 86.8869 204.044 70.7109 187.868L12.1318 129.289C-4.0439 113.113 -4.0439 86.8869 12.1318 70.7109L70.7109 12.1318ZM115.714 66.4414L100.022 92.4189L84.3311 66.4414L65.0234 77.8076V133.559H82.8799V95.1963L99.6201 121.287H100L116.829 95.0137V133.559H134.977V66.4414H115.714Z" fill="#003BFF"/>
                            </svg>
                        </ng-template>
                    </div>
                    <h5 class="text-center pre-wrap space-mono-bold">{{bodyText}}</h5>
                    <ng-container>
                        <h1 class="text-center text-{{color}}">
                            <span *ngIf="currentArrayText">{{currentArrayText}}</span>
                        </h1>
                    </ng-container>
                    <h5 class="text-center space-mono-bold">{{subText}}</h5>
                </div>
                <div class="col-auto pb-5">
                    <button (click)="onClick('appHeaderScrollTarget')" class="float-end btn btn-{{color}} btn-card">
                        <div class="card-body">
                            <div class="align-items-center g-0">
                            <span class="text-start">{{buttonText}}</span>
                            <span class="ms-4">
                                <fa-icon [fixedWidth]="true" [icon]="faArrowDown"></fa-icon>
                            </span>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</ng-container>