<section class="container-fluid">
    <div class="container">
        <div class="row pt-5">
            <h1 class="display-4 section-title pt-5">What I Do</h1>
            <h2 class="display-0 fs-4 text-cyan-700">User Experience</h2>
            <p class="space-mono-regular text-secondary text-cyan">Professional UX Consultant</p>
            <p class="space-mono-regular text-secondary">I help businesses create digital products that are both functional and delightful</p>
        </div>
        <div class="p-md-5">
            <div class="row row-cols-1 row-cols-md-2 pe-0 p-5 pe-sm-5">
                <div *ngFor="let skill of userExperience" class="col p-5">
                    <div class="col position-relative">
                        <fa-layers [fixedWidth]="true" size="5x" class="position-absolute">
                            <fa-icon class="text-cyan opacity-10" [icon]="faCircle"></fa-icon>
                            <fa-icon class="text-cyan" [icon]="skill.icon" transform="shrink-10"></fa-icon>
                        </fa-layers>
                    </div>
                    <div class="col position-relative">
                        <h2 class="fw-bolder">{{skill.firstWord}}</h2>
                        <p class="fs-5">{{skill.bodyCopy}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-bootstrap-gradient section-skew section-shadow-top">
    <div class="container">
        <div class="row pt-5">
            <h2 class="display-0 fs-4 text-cyan-700 pt-5 ">Certifications</h2>
        </div>
        <div class="p-md-5">
            <div class="row row-cols-1 row-cols-md-2 p-0 pt-5 p-sm-5">
            <ng-container *ngFor="let certificate of certifications">
                <div class="mb-3">
                    <a [href]="certificate.url" target="_blank" class="card btn p-0 text-decoration-none shadow-lg">
                        <div class="card-img-wrapper rounded-4 position-relative">
                            <img class="card-img-top " [src]="certificate.image" />
                        </div>
                        <div class="card-body">
                            <div class="row  d-flex align-items-top text-start">
                                <div class="col-auto">
                                    <img class="logo rounded-4" [src]="certificate.logo"/>
                                </div>
                                <div class="col">
                                    <small class="text-cyan">{{certificate.issuer}}</small>
                                    <h6 class="fw-bold">{{certificate.name}}</h6>
                                    <div><small class="text-secondary"><fa-icon class="text-disabled me-2" [icon]="faCalendar"></fa-icon>{{certificate.issueDate}}</small></div>
                                    <small><a [href]="certificate.certURL" class="text-cyan " target="_{{ certificate.name }}"><fa-icon class="me-2" [icon]="faGithub"></fa-icon>Certificate</a></small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-container>
            </div> 
        </div>
    </div>
</section>