 <section class="container-fluid section-shadow-2" #showScrollTarget>
    <div class="container">
        <h1 class="display-4">Projects</h1>
        <div class="row align-items-center position-sticky z-3">
            <h1 class="col-auto d-flex"><div class="bg-body rounded-4 p-3">
                @if (searchValue) {
                  <span class="text-secondary sigmar-regular"> {{filteredProjects.length}}<span class="text-black-50"> /</span></span>
                }
                <span class="text-{{color}} sigmar-regular"> {{projects.length}}</span>
            </div></h1>
            <mm-search class="d-flex col justify-content-end" [color]="currentColor" [(searchValue)]="searchValue" placeHolder="search projects"></mm-search>
        </div>
        <!-- <div class="row">
            <div class="col alert alert-success shadow" *ngIf="searchValue">
                <span class="fs-4"><fa-icon class="text-success me-2" [icon]="faMagnifyingGlass"></fa-icon> {{filteredProjects.length}} project<span *ngIf="filteredProjects.length !== 1">s</span> found for <span class="fw-bold">"{{searchValue}}"</span></span>
            </div>
        </div> -->
        @if (filteredProjects.length > 0) {
            <div class="project-grid mt-5">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
                    @for (project of filteredProjects; track project.id) {
                        <div [id]="project.id" class="btn card text-center py-4" [routerLink]="['/projects/details', project.name | lowercase]">
                            <div class="card-body">
                                <div class="content d-flex justify-content-center align-items-center">
                                    @if (project.images === "") {
                                        <img [src]="'./assets/@mm/projects/mm-images/' + (project.name | lowercase) + '.png'" [alt]="project.id + ' image'" class=""/>
                                    } @else {
                                        <ngb-carousel
                                            [showNavigationArrows]="showNavigationArrows"
                                            [showNavigationIndicators]="showNavigationIndicators">

                                            @for (image of getProjectImages(project); track image; let i = $index) {
                                            <ng-template ngbSlide>
                                                <img [src]="image" [alt]="'Image ' + (i + 1)" />
                                                <span class="carousel-caption small">{{ i + 1 }}</span>
                                            </ng-template>
                                            }

                                        </ngb-carousel>
                                    }
                                </div>

                                <!-- <h6 class="text-truncate fw-bold my-2">{{project.name}}</h6> -->

                                <div class="d-flex justify-content-center">
                                    <div class="card mt-5">
                                        <div class="">
                                            <div class="row align-items-center g-0">
                                                <div class="col-auto me-1">
                                                    <fa-layers [fixedWidth]="true" size="3x">
                                                        <fa-icon class="icon-gray" [icon]="faCircle"></fa-icon>
                                                        <fa-icon class="text-{{color}}" [icon]="project.icon" transform="shrink-8"></fa-icon>
                                                    </fa-layers>
                                                </div>
                                                <div class="col text-start me-2">
                                                    <div class="h6 mb-0">
                                                        <span class="fw-bold">{{project.name | titlecase }}</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-auto mx-2">
                                                <fa-icon class="text-{{color}}" [fixedWidth]="true" [icon]="faArrowRight"></fa-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @if (filteredProjects.length === 0) {
            <div class="no-results text-dark my-5 mx-md-5">
                <div class="card card-body">
                    <div class="row d-flex">
                    <div class="col-12 col-md-auto text-center">
                        <fa-layers [fixedWidth]="true" size="6x">
                        <fa-icon class="icon-gray" [icon]="faCircle"></fa-icon>
                        <fa-icon class="" [icon]="faDragon" transform="shrink-8"></fa-icon>
                    </fa-layers>
                    </div>
                    <div class="col">
                        <h2 class="mt-4 display-0 fs-6">"{{searchValue}}" is as mythical as this Dragon</h2>
                        <p class="fs-5">No projects matching "{{searchValue}}"</p>
                        <ul>
                            <li>Try again</li>
                            <li>Check your spelling</li>
                        </ul>
                        <a class="btn btn-outline-{{color}}"
                        [href]="githubBaseURL + '/test'"
                        title="Github Project Source"
                        target="_blank" rel="noopener">
                        View Github Project Source <fa-icon class="ms-2" [fixedWidth]="true" [icon]="faArrowRight"></fa-icon>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>