.btn, button, a {
    font-family: 'Space Mono', monospace;
}
.btn-link {
    text-decoration: none;
    &:hover, &:active, &:focus {
        background-color: rgba($black, .1);
    }
}
a {
    text-decoration: none;
}

.btn {
    &.card, &.btn-card {
        border-radius: $border-radius-lg * 2.5;
        // word-wrap: break-word;
        position: relative;
        overflow: hidden;
        // box-shadow: $box-shadow;
        -moz-transform: scale(1) translateY(0px);
        -webkit-transform: scale(1) translateY(0px);
        transform: scale(1) translateY(0px);
        transition: 0.2s;

        &:hover, &:active, &:focus {
            -moz-transform: scale(1.025) translateY(-3px);
            -webkit-transform: scale(1.025) translateY(-3px);
            transform: scale(1.025) translateY(-3px);
            transition: transform 0.2s;
        }
        .fa-layers .ng-fa-icon:nth-child(2) svg,
        .fa-layers .ng-fa-icon:nth-child(2) svg {
            -moz-transform: scale(1) translateX(0);
            -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
            transition: 0.2s;
            
        }
        &:hover, &:active, &:focus  {
            .fa-arrow-down {
                animation-name: arrow-down;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

            }
        }
        
        @keyframes arrow-down {
            0% {
                transform: translateY(-300%);
                opacity: 1;
            }
            50% {
                transform: translateY(0);
                opacity: 1;
            }
            100% {
                transform: translateY(200%);
                opacity: 0;
            }
        }
        &:hover,  &:active, &:focus {
            .fa-layers .ng-fa-icon:first-child svg {
                -moz-transform: scale(10);
                -webkit-transform: scale(10);
                transform: scale(10);
                opacity: 0;
                transition: transform 0.8s, opacity 0.6s;
            }
        }
        &:hover, &:active, &:focus {
            .fa-layers .ng-fa-icon:nth-child(2) svg {
                -moz-transform: scale(1.6) translateX(-2px);
                -webkit-transform: scale(1.6) translateX(-2px);
                transform: scale(1.6) translateX(-2px);
                transition: 0.2s;
            }
        }
        svg {
            opacity: 1;
        }
    }
}

#navbar-links.nav .nav-item .nav-link,
#navbar-links .nav .nav-item .nav-link,
button.btn,
a.btn {
    font-size: .8rem;
}