.btn.card, .btn-card {
    border-radius: $border-radius-lg * 2.5;
    // word-wrap: break-word;
    position: relative;
    box-shadow: $box-shadow;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1) translateY(0px);
    transition: transform 0.2s;
    &:hover {
        -moz-transform: scale(1.025);
        -webkit-transform: scale(1.025);
        transform: scale(1.025) translateY(-3px);
        transition: transform 0.2s;
    }
}
// .btn-light {
//     background-color: $white;
// }
.btn-link {
    text-decoration: none;
    &:hover {
        background-color: rgba($black, .1);
    }
}
a {
    text-decoration: none;
}