.btn.card, .btn-card {
    border-radius: $border-radius-lg * 2.5;
    // word-wrap: break-word;
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1) translateY(0px);
    transition: transform 0.2s;
    &:hover, &:active {
        -moz-transform: scale(1.025);
        -webkit-transform: scale(1.025);
        transform: scale(1.025) translateY(-3px);
        transition: transform 0.2s;
    }
    &:hover fa-layers fa-icon:first-child svg,
    &:active fa-layers fa-icon:first-child svg {
        -moz-transform: scale(10);
        -webkit-transform: scale(10);
        transform: scale(10);
        opacity: 0;
        transition: transform 0.8s, opacity 0.6s;
    }
    &:hover fa-layers fa-icon:nth-child(2) svg,
    &:active fa-layers fa-icon:nth-child(2) svg {
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        transform: scale(1.6) translateX(-2px);
        transition: 0.2s;
    }
    svg {
        opacity: 1;
    }
}
.btn-link {
    text-decoration: none;
    &:hover {
        background-color: rgba($black, .1);
    }
}
a {
    text-decoration: none;
}
.btn, button, a {
    font-family: 'Space Mono', monospace;
}
#navbar-links.nav .nav-item .nav-link,
#navbar-links .nav .nav-item .nav-link,
button.btn,
a.btn {
    font-size: .8rem;
}