// Custom Global Styles

* {
  transition: background-color 0.5s ease, color 0.2s ease;
}
html, body {
    // Needed to hide overflow of summary-panel divs
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
    // Needed for ViewportScroller scroll to anchor
    scroll-behavior: smooth !important;
}

.mirror img {
    transform: scaleX(-1);
}
.spacer {
    height: $spacer-size * 3;
}
.opacity-10 {
    opacity: 0.10 !important
}

.pre-wrap {
  white-space: pre-wrap;
}


// .fade-in1 {
//   opacity: 0;
//   transform: translateY(-60px);
//   animation: fadeInUp 500ms ease-in forwards;
  
// }
// .fade-in2 {
//   opacity: 0;
//   transform: translateY(30px);
//   animation: fadeInUp 500ms ease-in forwards;
//   animation-delay: 500ms;
//   &.card {
//     .btn {
//         transform: translateY(0);
//         transform: translateX(-30px);
//         animation-delay: 800ms;
//     }
//   }
// }
// @keyframes fadeInUp {
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }