.icon-gray {
    color: rgba($black, .1);
}

// Social Icon Colors
.twitch {
    color: $twitch !important;
}
.instagram {
   path {
        fill: url(#instagram) !important;
    }
}
.discord {
    color: $discord !important;
}
.tiktok {
    color: $tiktok !important;
    svg {
    filter: drop-shadow(1px 1px 0px $tiktok-accent1) drop-shadow(-1px -1px 0px $tiktok-accent2);
    }
}
.youtube {
    color: $youtube !important;
}
.reddit {
    color: $reddit !important;
}
.linkedin {
    color: $linkedin !important;
}
.github {
    color: $github !important;
}
.playstation {
    color: $playstation !important;
}
.spotify {
    color: $spotify !important;
}
.fortnite {
    color: $fortnite !important;
}


.instagram-stop1 {
  stop-color: $instagram-1;
}

.instagram-stop2 {
  stop-color: $instagram-2;
}

.instagram-stop3 {
  stop-color: $instagram-3;
}

.instagram-stop4 {
  stop-color: $instagram-4;
}

.instagram-stop5 {
  stop-color: $instagram-5;
}