@use 'sass:color';

.section-skew {
    background-color: $white;
    padding-bottom: $spacer-size;
    margin-top: $spacer-size * 2;
    transform: skewY($section-angle);
    box-shadow: inset 0 15px 30px -20px color.adjust($black, $alpha: -0.9),
                inset 0 -15px 30px -20px color.adjust($black, $alpha: -0.9);
   &.section-shadow-none {
       box-shadow: none;
   }
    &.section-shadow-2 {
        box-shadow: inset 0 15px 30px -20px color.adjust($black, $alpha: -0.8),
                    inset 0 -15px 30px -20px color.adjust($black, $alpha: -0.8);
    }
    &.section-shadow-3 {
        box-shadow: inset 0 15px 30px -20px color.adjust($black, $alpha: -0.6),
                    inset 0 -15px 30px -20px color.adjust($black, $alpha: -0.6);
    }
    &.section-shadow-4 {
        box-shadow: inset 0 15px 30px -20px color.adjust($black, $alpha: -0.4),
                    inset 0 -15px 30px -20px color.adjust($black, $alpha: -0.4);
    }
    &.section-shadow-bottom {
        box-shadow: inset 0 -15px 30px -20px color.adjust($black, $alpha: -0.6);
    }
    &.section-shadow-top {
        box-shadow: inset 0 15px 30px -20px color.adjust($black, $alpha: -0.6);
    }
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        margin-top: $spacer-size;
        transform: skewY(-$section-angle);
    }
    .col {
        z-index: 100;
    }
}