.font-family-alt {
    font-family: $font-family-alt;
}
.display-0 {
    font-family: $font-family-alt;
    font-weight: 500;
    line-height: 1;
    &.fs-1 {
        font-size: 5rem !important;
    }
    &.fs-2 {
        font-size: 4.5rem !important;
    }
    &.fs-3 {
        font-size: 4rem !important;
    }
    &.fs-4 {
        font-size: 3.5rem !important;
    }
    &.fs-5 {
        font-size: 3rem !important;
    }
    &.fs-6 {
        font-size: 2.5rem !important;
    }
}
.section-title {
    margin-bottom: $spacer-size;
}
.fw-bolder {
    font-weight: 900 !important;
}