@use 'sass:color';

// Bootstrap Color Variable Overrides
$primary:   #003BFF !default;
$blue:      #003BFF !default;
$green:     #308D04 !default;
$purple:    #8540F5 !default;

// Bootstrap Variable Overrides
$carousel-indicator-opacity:        .25 !default;
$box-shadow-lg:                     0 1rem 3rem rgba(0, 0, 0, 0.3) !default;
$navbar-padding-y:                  1rem * 1.5 !default;


// Custom Variables
$spacer-size:                       50px !default;
$section-angle:                     5deg !default;
$color-adjust-amount:               -25% !default;
$font-family-alt:                   'Anton', sans-serif !default;
$success-color:                     #00dc54 !default;