@use 'sass:color';

// Bootstrap Color Variable Overrides
$primary:   #003BFF !default;
$blue:      #003BFF !default;
$green:     #308D04 !default;
$purple:    #8540F5 !default;

// Bootstrap Variable Overrides
$carousel-indicator-opacity:        .25 !default;
$box-shadow-lg:                     0 1rem 3rem rgba(0, 0, 0, 0.3) !default;
$navbar-padding-y:                  1rem * 1.5 !default;


// Custom Variables
$spacer-size:                       50px !default;
$section-angle:                     5deg !default;
$color-adjust-amount:               -25% !default;
$font-family-alt:                   'Anton', sans-serif !default;
$success-color:                     #00dc54 !default;

// Social Brand Colors
$twitch:                            #8956FB;
$discord:                           #5865F2;
$tiktok:                            #000000;
$tiktok-accent1:                    #FD3E3E;
$tiktok-accent2:                    #4DE8F4;
$youtube:                           #FF0000;
$reddit:                            #FF4500;
$linkedin:                          #0A66C2;
$github:                            #101411;
$playstation:                       #0070d1;
$spotify:                           #1ED760;

$instagram-1:                    #fdf497;
$instagram-2:                    #fdf497;
$instagram-3:                    #fd5949;
$instagram-4:                    #d6249f;
$instagram-5:                    #285aeb;