// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import 'variables';

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// Include bootstrap utilities first to ensure our custom utilities are added to the map before the API generates classes
@import 'bootstrap/scss/utilities';

// Custom utilities map
@import 'utilities';

// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/helpers';

// 7. Include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import 'bootstrap/scss/utilities/api';


// 8. Add additional custom code here
// Botstrap overrides
@import 'buttons';
@import 'card';
@import 'type';
@import 'section';
@import 'icons';

// Custom global styles
@import 'theme';
@import "glide";
@import "animate";
@import 'global';
@import 'project-grid';
@import 'inner_addon';

// Font imports
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');