@use 'custom' as *;

#search {
    padding-top: 0 !important;
}

.closed {
    #close {
        display: none;
    }
    & + .form {
        display: none;
    }
}
.open {
    #open {
        display: none;
    }
}

.form-control {
    max-width: 225px;
    border: none;
    box-shadow: none;
    &::placeholder {
        font-style: italic;
        color: $gray-400;
    }
}